<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreCLR-NCalc" version="2.2.110" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.7.0-develop00310" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.7.0-develop00310" targetFramework="net472" />
  <package id="FCTB" version="2.16.24" targetFramework="net472" />
  <package id="Interop.SolidEdge" version="220.2.0" targetFramework="net472" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PanoramicData.NCalcExtensions" version="1.20.146" targetFramework="net472" />
  <package id="SolidEdge.Community" version="219.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="TimeZoneConverter" version="6.1.0" targetFramework="net472" />
</packages>