<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.7.0-develop00310" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.7.0-develop00310" targetFramework="net472" />
  <package id="Interop.SolidEdge" version="220.2.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
  <package id="SolidEdge.Community" version="219.0.0" targetFramework="net472" />
</packages>